<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions trackAllCaptures="true">
                        <add input="{CACHE_URL}" pattern="^(.+)://" />
                        <add input="{HTTP_HOST}" pattern="^stackfocus\.org$" />
                    </conditions>
                    <action type="Redirect" url="{C:1}://www.stackfocus.org/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
