div.headshot {
  display: inline-block;
  padding-bottom: 4em;
}
div.headshot p {
  test-align: center;
  margin-bottom: 0px;
}
div.project-buttons .button {
  margin-bottom: 10px;
}


/* Normal */
@media screen and (max-width: 1280px) {
    div.headshot {
        padding-bottom: 3em;
    }
}
