header{
    background-size: auto;
}
header .intro-text .intro-lead-in {
    font-size: 35px;
    line-height: 20px;
    text-transform:normal;
    font-weight:bold;
    font-style:normal;
}

header .intro-text .intro-heading {
    font-size: 20px;
    line-height: 20px;
    text-transform:none;
    font-weight:normal;
}

.btn-xl {
    border-color: #23572D;
    background-color: #23572D;
}
.btn-xl:hover {
    border-color: #2a2a2a;
    background-color: #2a2a2a;
}
.btn-xl:focus {
    border-color: #2a2a2a;
    background-color: #2a2a2a;
}

.text-primary {
    color: #23572D;
}

a:hover, a:focus, a:active {
    color: #23572D;
}

a {
    color: #2a2a2a;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: #23572D;
}

.btn-primary, .btn-primary:hover {
    border-color: #23572D;
    background-color: #23572D;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #23572D;
}

.btn-xl.disabled,  .btn-xl.active {
    border-color: #23572D;
    background-color: #23572D;
}

.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    border-color: #23572D;
    background-color: #23572D;
}

.timeline > li .timeline-image {
    background-color: #23572D;
}

.timeline > li .timeline-panel {
    text-align: left;
}